{% macro render_field(field) %}
    {% if field.id=='code' %}
        <div id="send-code" class="input-wrap">
            {{ field(class='form-control') }}
            <div class="input-group-append" >
                <button class="btn" type="button" id="send" data-appid="appId" data-cbfn="callback" disabled>获取验证码</button>
            </div>
            <p></p>
        </div>
    {% else %}
        <div class="input-wrap {{ field.id }}">
            {{ field(class="form-control") }}
            <p></p>
        </div>
    {% endif %}
{% endmacro %}
