{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/auth.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block body_content %}
    {% from "auth/form_constructor.html" import render_field %}
    <div class="title-wrap">
        <p class="brand">Q<span class="v" style="color:#004aed;">v</span>ault</p>
        <p class="form-name">欢迎回来！</p>
    </div>
    <form id="login-form" action="{{ url_for('auth.login') }}" method="post" target="_parent" autocomplete="off" novalidate>
        {{ form.csrf_token }}
        <div id="alert" class="alert alert-primary" role="alert">
            <span></span>
        </div>
        {{ render_field(form.account) }}
        {{ render_field(form.input_password) }}
        <div class="custom-control custom-checkbox mb-3">
            {{ form.remember_me(class="custom-control-input", id="customControlInline") }}
            <label class="custom-control-label" for="customControlInline">记住我 | </label>
            <a href="#" class="forget-password">忘记密码？</a>
        </div>
        {{ form.submit(class="btn btn-block") }}
        <hr>
        <p class="link-to">没有账号？<a href="{{ url_for('auth.register') }}" class="link-register" id="to-register">注册</a></p>
    </form>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}