{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block head_content %}
    <!-- 加载自定义的css样式文件-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/auth.css') }}">
    <!-- 加载腾讯云（图形滑块）人机验证服务-->
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>

{% endblock %}

<!--覆盖base页面的导航栏-->
{% block navbar %}{% endblock %}

{% block body_content %}
    <!-- 导入表单生成辅助模板文件form_constructor.html-->
    {% from "auth/form_constructor.html" import render_field %}
    <div class="title-wrap">
        <p class="brand">Q<span class="v" style="color:#004aed;">v</span>ault</p>
        <p class="form-name">创建账号</p>
    </div>
    <div id="wrapform">
        <form action="{{ url_for('auth.register') }}" method="post" autocomplete="off" novalidate>
            <!-- Flask-WTF默认开启CSRF保护，添加下面代码以获取CSRF令牌，否则提交表单会报错-->
            {{ form.csrf_token }}
            <!-- 消息提示框（提示验证码短信已成功发送），默认不显示-->
            <div id="alert" class="alert alert-primary" role="alert">
                <span></span>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="first-step" role="tabpanel">
                    <p class="step">第1步：设置用户名与密码</p>
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.password1) }}
                    <p class="link-to">已有账号？<a href="{{ url_for('auth.login') }}" id="to-login" style="color:#004aed;">登录</a></p>
                </div>
                <div class="tab-pane" id="second-step" role="tabpanel">
                    <p class="step">第2步：验证账户「<span class="tag mobile">手机</span>丨<span class="tag email">邮箱</span>」</p>
                    <p class="switch-p"><input type="checkbox" class="switch"></p>
                    {{ render_field(form.mobile) }}
                    {{ render_field(form.email) }}
                    <div class="input-wrap">
                        <input type="text" class="form-control" id="code" placeholder="验证码" onfocus="this.placeholder=''" onblur="this.placeholder='验证码'" disabled>
                        <div class="input-group-append">
                            <button class="btn" type="button" id="send" data-appid="appId" data-cbfn="callback" disabled>发 送</button>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div id="tab-list" class="list-group list-group-horizontal" role="tablist">
                <a class="list-group-item list-group-item-action" id="next" data-toggle="list" href="#second-step" role="tab">下一步</a>
                <a class="list-group-item list-group-item-action" id="pre" data-toggle="list" href="#first-step" role="tab"><span id="left-arrow"><< </span><span id="pre-text"> 返回上一步</span></a>
                {{ form.submit(class='btn btn-block') }}
            </div>
        </form>
    </div>
    <!-- 导入实现前端表单验证功能的js文件-->
    <script src="{{ url_for('static',filename='js/register.js') }}"></script>
{% endblock %}