.brand{
    font-family: "Constantia","Candara","Fredericka the Great","Dosis","Book Antiqua", serif;
    font-weight: bolder;
    font-size: 27px;
    margin-bottom: 0;
}

.form-name{
    font-size: 36px;
    /*font-weight: 900;*/
    font-family: 微软雅黑, serif;
    margin-bottom: 0;
}

form,.title-wrap{
    width:80%;
    min-width: 360px;
    max-width: 450px;
    margin: 0 auto;
}

/*选项卡文字水平居中对齐*/
#tab-list {
    text-align: center;
    padding-bottom: 10px;
    display: block;
}

/*改写选项卡的Bootstrap默认样式*/
/*#mobile-tab, #email-tab{*/
/*    border-top:none;*/
/*    border-left: none;*/
/*    border-right: none;*/
/*    background-color: transparent;*/
/*    border-bottom-left-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*    color:darkgrey;*/
/*    font-size: 18px;*/
/*}*/
/*#mobile-tab.active, #email-tab.active{*/
/*    border-bottom: 1.5px solid #0052e6;*/
/*    color: #0052e6;*/
/*}*/

.tab-pane{
    margin-bottom: 18px;
    padding-top: 10px;
}

/*设置输入框样式*/
.input-group{
    margin-bottom: 18px;
}
input.form-control:focus,
input.form-control:hover{
    border:1px solid #0052e6;
    box-shadow:0 0 15px rgba(0,82,230,0.3) ;
    outline: none;
}

/*设置输入框输入错误及输入正确的提示的样式*/
p {
    font-size: 14px;
    background-repeat: no-repeat;
    background-position-y: 1.8px;
}
.errors-icon {
    margin-top:5px;
    margin-left: 11px;
    padding-left: 22px;
    background-image: url("../icons/exclamation-circle-fill.svg");
    color: red;
}
.check-icon {
    background-image: url("../icons/check-circle-fill.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

/*用id定位元素，改写提交按钮的Bootstrap默认样式*/
#submit, #next{
    background-color: rgba(0,82,230,0.5);
    font-size: 18px;
    color:white;
    font-weight: bold;
    border-radius: 0.25rem;
    line-height: 1.5;
    border:none;
    padding: .5rem 1.25rem;
}

#submit:hover, #next:hover{
    background-color: rgb(0,82,230);
    box-shadow:0 0 15px rgba(0,82,230,0.5) ;
}

#pre{
    display: none;
    border:none;
    background: none;
    text-align: left;
    padding: 0 0;
    margin-bottom: 1rem;
    margin-left: 5px;
    width: 100%;
    font-size: 16px;
    color: #0052e6;
}

#pre:hover{
    text-decoration: underline;
}

#left-arrow{
    color: black;
    font-family: 黑体, serif;
}

#code{
    float:left;width:67%;
    margin-right:3%;
}
#code[disabled],#code[disabled]:hover{
    box-shadow: none;
    border-color: #ced4da;
    cursor: not-allowed;
}

#send{
    width:100%;
    box-shadow:0 0 15px rgba(0,82,230,0.5) ;
    color: #0052e6;
    border: solid 1px;
    animation-name: breath;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes breath {
    0%{
        box-shadow:5px 3px 12px rgba(0,82,230,0.7) ;
        opacity: 1;
    }
    50%{
        box-shadow:0 0 0 rgba(0,82,230,0.7) ;
        text-shadow: none;
        opacity: 0.9;
    }
    100%{
        box-shadow:5px 3px 12px rgba(0,82,230,0.7) ;
        opacity: 1;
    }
}

#send[disabled],#send[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    animation: none;
    background-color: transparent;
    color:#0052e6;
}
#send:hover{
    background-color: #0052e6;
    border-color: #0052e6;
    color: white;
}
#send:active{
    background-color: transparent;
    color:#0052e6;
}

#alert{
    margin-bottom: 0;
    width: 100%;
    background-color: #0052e6;
    border: none;
    color: white;
}

i{
    margin-right: 10px;
}

#account,#username, #mobile, #email{
    margin-top: 30px;
}

body{
    margin-top: 6%;
}

 /* Switch开关样式 */
 /* 必须是input为 checkbox class 添加 switch 才能实现以下效果 */
 input[type='checkbox'].switch{
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 40px;
    height: 20px;
    background: #0052e6;
    border-radius: 10px;
    transition: border-color .3s, background-color .3s;
}

input[type='checkbox'].switch::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height:1rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 2px #999;
    transition:.4s;
    top: 2px;
    position: absolute;
    left: 2px;
}

input[type='checkbox'].switch:checked {
    background: black;
}
/* 当input[type=checkbox]被选中时：伪元素显示下面样式 位置发生变化 */
input[type='checkbox'].switch:checked::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 2px;
}
