body{
    margin-top: 6%;
}

/*标题部分*/
.title-wrap, form{
    width:80%;
    min-width: 360px;
    max-width: 450px;
    margin: 0 auto;
}
.brand{
    font-family: "Constantia","Candara","Fredericka the Great","Dosis","Book Antiqua", serif;
    font-weight: bolder;
    font-size: 27px;
    margin-bottom: 0;
}
.form-name{
    font-size: 36px;
    font-family: 微软雅黑, serif;
    margin-bottom: 0;
}

/*弹出信息提示框部分*/
#alert{
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    background-color: #004aed;
    border: none;
    color: white;
    display: none;
    padding: 5px 20px;
    padding-bottom: 10px;
}
i{
    margin-right: 12px;
}

/*选项卡页面内容部分*/
.tab-pane{
    margin-bottom: 18px;
    padding-top: 10px;
}
.step{
    font-size: 1.1rem;
    margin-left: 5px;
    margin-bottom: 3px;
    font-family: 微软雅黑, serif;
    color: rgba(0,0,0,0.7);
}

input.form-control:focus,
input.form-control:hover{
    border:1px solid #004aed;
    box-shadow:0 0 15px rgba(0,74,237,0.3) ;
    outline: none;
}
/*各选项卡页面首行输入框样式*/
#account,#username{
    margin-top: 25px;
}
/*输入框输入提示（正确和错误）的样式*/
p {
    font-size: 0.8rem;
    background-repeat: no-repeat;
    background-position-y: 1.8px;
}
.errors-icon {
    margin-top:5px;
    margin-left: 11px;
    padding-left: 22px;
    background-image: url("../icons/exclamation-circle-fill.svg");
    color: red;
}
.check-icon {
    background-image: url("../icons/check-circle-fill.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

/*获取验证码的输入框及按钮样式*/
#code{
    float:left;
    width: 67%;
    margin-right:3%;
}
#code[disabled],#code[disabled]:hover{
    box-shadow: none;
    border-color: #ced4da;
    cursor: not-allowed;
}
#send{
    width: 100%;
    box-shadow:0 0 15px rgba(0,74,237,0.5) ;
    color: #004aed;
    border: solid 1px;
    animation-name: breath;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: none;
}
@keyframes breath {
    0%{
        box-shadow:5px 3px 12px rgba(0,74,237,0.7) ;
        opacity: 1;
    }
    50%{
        box-shadow:0 0 0 rgba(0,74,237,0.7) ;
        text-shadow: none;
        opacity: 0.9;
    }
    100%{
        box-shadow:5px 3px 12px rgba(0,74,237,0.7) ;
        opacity: 1;
    }
}
#send[disabled],#send[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    animation: none;
    background-color: transparent;
    color:#004aed;
}
#send:hover{
    background-color: #004aed;
    border-color: #004aed;
    color: white;
}
#send:active{
    background-color: transparent;
    color:#004aed;
}
/* Switch开关样式 */
/* 必须是input为 checkbox class 添加 switch 才能实现以下效果 */
.switch-p{
    text-align:right;
    margin-bottom: 5px;
    padding-right: 3px;
}
input[type='checkbox'].switch{
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 2rem;
    height: 1rem;
    background: #004aed;
    border-radius: 10px;
    transition: border-color .3s, background-color .3s;
}
input[type='checkbox'].switch::after {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height:0.8rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 2px #999;
    transition:.4s;
    position: absolute;
    top: 2px;
    left: 2px;
}
input[type='checkbox'].switch:checked {
    background: rgba(0,0,0,0.8);
}
input[type='checkbox'].switch:checked::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 2px;
}
.mobile-tag{
    color:#004aed;
}
.email-tag{
    color:lightgray;
}
/*默认影藏邮箱验证*/
.input-wrap.email{
    display: none;
}

/*选项卡选项列表部分*/
/*用id定位元素可改写Bootstrap默认样式*/
#tab-list {
    text-align: center;
    padding-bottom: 10px;
    display: block;
}
#next,#submit{
    background-color: rgba(0,74,237,0.5);
    font-size: 1rem;
    color:white;
    font-weight: bold;
    border-radius: 0.25rem;
    line-height: 1.5;
    border:none;
    padding: .5rem 1.25rem;
}
#next:hover,#submit:hover{
    background-color: #004aed;
    box-shadow:0 0 15px rgba(0,74,237,0.5) ;
}
#pre{
    display: none;
    border:none;
    background: none;
    text-align: left;
    padding: 0 0;
    margin-bottom: 1rem;
    margin-left: 5px;
    width: 100%;
    font-size: 1rem;
    color: #004aed;
}

#pre-text:hover{
    text-decoration: underline;
    font-weight: normal;
}

#left-arrow{
    color: black;
    font-family: 黑体, serif;
}

.link-to{
    font-size: 1rem;
    margin-left: 5px;
}