.brand{
    font-family: "Constantia","Candara","Fredericka the Great","Dosis","Book Antiqua", serif;
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10%;
}

.form-name{
    font-size: 36px;
    /*font-weight: 900;*/
    font-family: 微软雅黑, serif;
    margin-bottom: 0;
}

form,.title-wrap{
    width:80%;
    min-width: 360px;
    max-width: 450px;
    margin: 0 auto;
}

/*选项卡文字水平居中对齐*/
#tab-list {
    text-align: center;
    padding-bottom: 10px;
}

a{
    height:90%;
}

/*改写选项卡的Bootstrap默认样式*/
#mobile-tab, #email-tab{
    border-top:none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color:darkgrey;
    font-size: 18px;
}
#mobile-tab.active, #email-tab.active{
    border-bottom: 1.5px solid #0052e6;
    color: #0052e6;
}

.tab-pane{
    margin-bottom: 18px;
    padding-top: 10px;
}

/*设置输入框样式*/
.input-group{
    margin-bottom: 18px;
}
input.form-control:focus,
input.form-control:hover{
    border:1px solid #0052e6;
    box-shadow:0 0 15px rgba(0,82,230,0.3) ;
    outline: none;
}

/*设置输入框输入错误及输入正确的提示的样式*/
p {
    font-size: 14px;
    background-repeat: no-repeat;
    background-position-y: 1.8px;
}
.errors-icon {
    margin-top:5px;
    margin-left: 11px;
    padding-left: 22px;
    background-image: url("../icons/exclamation-circle-fill.svg");
    color: red;
}
.check-icon {
    background-image: url("../icons/check-circle-fill.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

/*用id定位元素，改写提交按钮的Bootstrap默认样式*/
#submit{
    background-color: rgba(0,82,230,0.5);
    font-size: 18px;
    color:white;
    font-weight: bold;
}

#submit:hover{
    background-color: rgb(0,82,230);
    box-shadow:0 0 15px rgba(0,82,230,0.5) ;
}

#code{
    float:left;width:67%;
    margin-right:3%;
}
#code[disabled],#code[disabled]:hover{
    box-shadow: none;
    border-color: #ced4da;
    cursor: not-allowed;
}

#send{
    width:100%;
    box-shadow:0 0 15px rgba(0,82,230,0.5) ;
    color: #0052e6;
    border: solid 1px;
    animation-name: breath;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes breath {
    0%{
        box-shadow:5px 3px 12px rgba(0,82,230,0.7) ;
        opacity: 1;
    }
    50%{
        box-shadow:0 0 0 rgba(0,82,230,0.7) ;
        text-shadow: none;
        opacity: 0.9;
    }
    100%{
        box-shadow:5px 3px 12px rgba(0,82,230,0.7) ;
        opacity: 1;
    }
}

#send[disabled],#send[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    animation: none;
    background-color: transparent;
    color:#0052e6;
}
#send:hover{
    background-color: #0052e6;
    border-color: #0052e6;
    color: white;
}
#send:active{
    background-color: transparent;
    color:#0052e6;
}

#alert{
    margin-bottom: 0;
    width: 100%;
    background-color: #0052e6;
    border: none;
    color: white;
}

i{
    margin-right: 10px;
}

#account{
    margin-top: 30px;
}