.modal-header{
    border-bottom: none;
    padding:5px 10px;
}

.modal-body{
    padding-top: 0;
}

#modal-dialog {
    max-width: none;
    min-width: 450px;
    width: 36%;
}

#mainframe{
    width:100%;
    border:none;
    min-height: 452px;
}